*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'open sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('uad.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.wrapper img {
    width: 30%;
    margin-left: 115px;
}

.wrapper .input {
    width: 100%;
    height: 50px;
    /* background: salmon; */
    margin: 10px 0;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input p{
    width: 100%;
    padding: 0px 20px;
}

.input input::placeholder {
    color: white;
}

.wrapper .btn {
    width: 30%;
    height: 30px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
}